schema/orders.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orders">
  	<xs:complexType>
	    <xs:sequence>
		  <xs:element name="order" minOccurs="1">
		    <xs:complexType>
		      <xs:sequence>
		        <xs:element type="xs:string" name="customerId"/>
		        <xs:element type="xs:string" name="product"/>
		        <xs:element type="xs:string" name="amount"/>
		      </xs:sequence>
		    </xs:complexType>
		  </xs:element>
	    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
